body
{
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}
.title-banner 
{
    background:  #ea0000;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

.title-banner #tagline 
{
    padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 0.8em;
}

#pie 
{
    background: linear-gradient(42deg, rgba(38,20,231,1) 0%, rgba(56,62,62,1) 100%);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    text-align: right;
    font-size: 0.8em;
}



#container 
{
    width: 75%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
    padding: 1em 0.8em 0 1em;
}
#container p
{
    padding: 0 0.8em 1em 1em;
}
